<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.8.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bahiana&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    <main>
        <div class="leftpanel">
            <a href="/account?id={% USERNAME %}">
                <div class="account">
                    <img src="{% AVATAR %}" alt="avatar">
                    <h2 id="accountname">{% ACCOUNTNAME %}</h2>
                </div>
            </a>
            <ul>
                <li class="category active"><a href="/dashboard">Home</a></li>
                <li class="category"><a href="/timetable">Timetable</a></li>
                <li class="category"><a href="/subject">Subject</a></li>
                <li class="category"><a href="/teacher">Teacher</a></li>
                <li class="category"><a href="/logout">Logout</a></li>
            </ul>
            <h1 id="logo">Schooling</h1>
        </div>
        <div class='rightpanel'>
            <h1 id="title">Welcome</h1>
            <h2 id="subtitle">to <span id="sublogo">Schooling</span></h2>
        </div>
    </main>
    {% POPUP %}
</body>

</html>