<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/event.css">
    <script src="js/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bahiana&display=swap" rel="stylesheet">
    <!-- <script src="js/quicksortSubject.js"></script> -->
    <script src="js/lib/jscolor/jscolor.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="js/lib/jquery.timeentry.package-2.0.1/jquery.timeentry.css">
    <script type="text/javascript" src="js/lib/jquery.timeentry.package-2.0.1/jquery.plugin.js"></script>
    <script type="text/javascript" src="js/lib/jquery.timeentry.package-2.0.1/jquery.timeentry.js"></script>
    <title>Event</title>
    <script>
        $(function () {
            $("#eventStartDate").datepicker({
                dateFormat: "yy-mm-dd",
            });
            $("#eventEndDate").datepicker({
                dateFormat: "yy-mm-dd",
            });

            $('#eventStartTime').timeEntry({ show24Hours: true });
            $('#eventEndTime').timeEntry({ show24Hours: true });
        });
    </script>
</head>

<body>
    <!-- <div style="display: none;">
        <form action="/delete-event" method="POST" id="delete">
            <input type="text" name="idSubject" id="delid" value="">
            <input type="submit" value="" id="delBtn">
        </form>
    </div> -->
    <div id="overlay">
        <form action="/event" method="post" autocomplete="off" id="addform" onsubmit="return(validate())">
            <h1 id="formlogo">Schooling</h1>
            <div class="data">
                <label for="eventName">Event Name:</label>
                <input type="text" id="eventName" name="eventName" placeholder="Mạng máy tính" required><br>
                <label for="eventStartDate">Start Day: </label>
                <input type="text" id="eventStartDate" name="eventStartDate" required>
                <label for="eventEndDate">End Day: </label>
                <input type="text" id="eventEndDate" name="eventEndDate" required>
                <label for="eventStartTime">From:</label>
                <input type="text" id="eventStartTime" name="eventStartTime" required>
                <label for="eventEndTime">To:</label>
                <input type="text" id="eventEndTime" name="eventEndTime" required>
                <label for="eventPlace">Place:</label>
                <input type="text" id="eventPlace" name="eventPlace" placeholder="101/C1" required><br>
                <label for="note">Note:</label>
                <textarea name="eventNote" id="eventNote" cols="25" rows="5"></textarea>
                <label for="eventColor">Color</label>
                <input class="jscolor" name="eventColor" id="eventColor">
            </div>
            <input type="submit" value="Submit" class="btn">
            <button type='button' class="btn" id="cancelbtn" onclick="overlayOff()">Cancel</button>
        </form>
    </div>
    <main>
        <div class="leftpanel">
            <a href="/logout" id="logoutbtn">
                <ion-icon name="log-out-outline"></ion-icon>
            </a>
            <a id="accountlink" href="/account?id={% USERNAME %}">
                <div class="account">
                    <img src="{% AVATAR %}" alt="avatar">
                    <h2 id="accountname">{% ACCOUNTNAME %}</h2>
                </div>
            </a>
            <ul>
                <li class="category"><a href="/dashboard">Home</a></li>
                <li class="category"><a href="/timetable">Timetable</a></li>
                <li class="category"><a href="/subject">Subject</a></li>
                <li class="category active"><a href="/event">Event</a></li>
                <li class="category"><a href="/teacher">Teacher</a></li>
            </ul>
            <h1 id="logo">Schooling</h1>
        </div>
        <div class='rightpanel'>
            <!-- <div class="sort">
                <button class="sortbtn" onclick="sortTable(0)">Name</button>
                <button class="sortbtn" onclick="sortTable(1)">ID</button>
                <button class="sortbtn" onclick="sortTable(2)">Teacher</button>
                <button class="sortbtn" onclick="sortTable(3)">Target</button>
            </div> -->
            <button class="btn" onclick="overlayOn()">Add new</button>
            <button class="btn" id="delbtn" onclick="deleteEvent()">Delete</button>
            <div id="message" style='margin-left: 400px;display: none;'>
                <h4>Please choose the card</h4>
            </div>
            <div class="content">
                {% CARDS %}
            </div>
        </div>
    </main>
    <script src="js/event.js"></script>
    <script src="js/overlay.js"></script>
</body>

</html>