<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Bahiana&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.8.1/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="css/login.css">
    <title>Schooling login</title>
</head>

<body>
    <form action="/login" method="post" autocomplete="off" id="form">
        <h2>Schooling</h2>
        <div class="login">
            <input type="text" name="username" id="username" required>
            <br>
            <label for="username" class='label-name'>
                Username
            </label>
            <hr>
            <input type="password" name="password" id="password" required>
            <br>
            <label for="password" class='label-name'>
                Password
            </label>
            <hr>
            <input type="submit" value="Log in" class="btn">
            <br>
            <p><a href="/reset">Forget</a> or <a href="/register">Sign up</a></p>
        </div>
    </form>
    {% POPUP %}
</body>

</html>