<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Bahiana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
        integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
    <title>Schooling login</title>
</head>

<body>
    <form action="/register" method="post" autocomplete="off" id="form">
        <h2>Schooling</h2>
        <div class="login">
            <input type="text" name="username" id="username" required>
            <br>
            <label for="username" class='label-name'>
                Username
            </label>
            <hr>
            <p class="errorlog" id="usernameError"></p>
            <input type="password" name="password" id="password" required>
            <br>
            <label for="password" class='label-name'>
                Password
            </label>
            <hr>
            <p class="errorlog" id="passwordError"></p>
            <input type="text" name="fullname" id="fullname" required>
            <br>
            <label for="fullname" class='label-name'>
                Fullname
            </label>
            <hr>
            <input type="email" name="email" id="email" required>
            <br>
            <label for="email" class='label-name'>
                Email
            </label>
            <hr>
            <input type="text" name="education" id="education" required>
            <br>
            <label for="education" class='label-name'>
                Education
            </label>
            <hr>
            <button class="btn" onclick="submitForm()">Register</button>
            <button class='btn' id='cancelbtn' onclick="window.location.href = '/';">Cancel</button>
        </div>
    </form>
    <script defer src="js/validate.js"></script>
</body>

</html>