<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/teacher.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.8.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bahiana&display=swap" rel="stylesheet">
    <title>Teachers</title>
</head>

<body>
    <main>
        <div class="leftpanel">
            <div class="account">
                <img src="img/avatar.png" alt="avatar">
                <h2 id="accountname">Doan Ngoc Thuong</h2>
            </div>
            <ul>
                <li class="category"><a href="/home">Home</a></li>
                <li class="category"><a href="/timetable">Timetable</a></li>
                <li class="category"><a href="/subject">Subject</a></li>
                <li class="category active"><a href="/teacher">Teacher</a></li>
                <li class="category"><a href="/logout">Logout</a></li>
            </ul>
            <h1 id="logo">Schooling</h1>
        </div>
        <div class='rightpanel'>
            <button class="btn">Add new</button>
            <div class="mainwindow">
                <table>
                    <tr class="header">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Tel</th>
                        
                    </tr>
                    <!-- data -->
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                    <tr>
                        <td>Thái Minh Tuấn</td>
                        <td>tmtuan@ctu.edu.vn</td>
                        <td>0312345678</td>
                    </tr>
                </table>
                <!-- <div class="header">
                    <span class='name'>Name</span>
                    <span class="email">Email</span>
                    <span class="number">Tel.</span>
                </div>
                <hr>
                <div class="content">
                    <span class='name'>Thái Minh Tuấn</span>
                    <span class="email">tmtuan@cit.ctu.edu.vn</span>
                    <span class="number">0312345678</span>
                </div>
                <hr> -->
            </div>
        </div>
    </main>
</body>

</html>