<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/teacher.css">
    <link href="https://fonts.googleapis.com/css?family=Bahiana&display=swap" rel="stylesheet">
    <script src="js/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="js/quicksortTeacher.js"></script>
    <title>Teachers</title>
</head>

<body>
    <div id="overlay">
        <form action="/teacher" method="post" autocomplete="off">
            <h1 id="formlogo">Schooling</h1>
            <div class="data">
                <label for="teacherName">Name:</label>
                <input type="text" name="teacherName" placeholder="Name" required><br>
                <label for="teacherEmail">Email:</label>
                <input type="email" name="teacherEmail" placeholder="example@mail.com" required><br>
                <label for="teacherNumber">Telephone:</label>
                <input type="tel" name="teacherNumber" pattern="[0-9]{10}" placeholder="0123456789"><br>
            </div>
            <input type="submit" class="btn" value="Submit">
            <button type='button' class="btn" id="cancelbtn" onclick="overlayOff()">Cancel</button>
            
        </form>
    </div>
    <main>
        <div class="leftpanel">
            <a href="/logout" id="logoutbtn"><ion-icon name="log-out-outline"></ion-icon></a>
            <a id="accountlink" href="/account?id={% USERNAME %}">
                <div class="account">
                    <img src="{% AVATAR %}" alt="avatar">
                    <h2 id="accountname">{% ACCOUNTNAME %}</h2>
                </div>
            </a>
            <ul>
                <li class="category"><a href="/dashboard">Home</a></li>
                <li class="category"><a href="/timetable">Timetable</a></li>
                <li class="category"><a href="/subject">Subject</a></li>
                <li class="category"><a href="/event">Event</a></li>
                <li class="category active"><a href="/teacher">Teacher</a></li>
            </ul>
            <h1 id="logo">Schooling</h1>
        </div>
        <div class='rightpanel'>
            <button class="btn" onclick="overlayOn()">Add new</button>
            <button class="btn" id="delbtn" onclick="deleteTeacher()">Delete</button>
            <div id="message" style='margin-left: 400px;display: none;'><h4>Please choose on the table</h4></div>
            <div class="mainwindow">
                <table>
                    <tr class="header">
                        <th onclick="sortTable(0)" style="cursor: pointer;">Name <ion-icon name="funnel-outline" style="font-size: 14px;"></ion-icon></th>
                        <th onclick="sortTable(1)" style="cursor: pointer;">Email <ion-icon name="funnel-outline" style="font-size: 14px;"></ion-icon></th>
                        <th>Tel</th>
                    </tr>
                    <!-- data -->
                    {% DATA %}
                </table>
            </div>
        </div>
    </main>
    <div id="alert">{% POPUP %}</div>
    <script src="js/overlay.js"></script>
    <script src="js/teacher.js"></script>

</body>

</html>