<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/timetable.css">
    <link href="https://fonts.googleapis.com/css?family=Bahiana&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.8.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <link href='js/lib/calendarjs/packages/core/main.css' rel='stylesheet' />
    <link href='js/lib/calendarjs/packages/daygrid/main.css' rel='stylesheet' />
    <link href='js/lib/calendarjs/packages/timegrid/main.css' rel='stylesheet' />
    <link href='js/lib/calendarjs/packages/list/main.css' rel='stylesheet' />
    <script src='js/lib/calendarjs/packages/core/main.js'></script>
    <script src='js/lib/calendarjs/packages/interaction/main.js'></script>
    <script src='js/lib/calendarjs/packages/daygrid/main.js'></script>
    <script src='js/lib/calendarjs/packages/timegrid/main.js'></script>
    <script src='js/lib/calendarjs/packages/list/main.js'></script>
    <script src='js/lib/calendarjs/packages/rrule/main.js'></script>
    <script src='js/lib/calendarjs/vendor/rrule.js'></script>
    <title>Timetable</title>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendarInteraction.Draggable

            /* initialize the external events
            -----------------------------------------------------------------*/

            var containerEventsEl = document.getElementById('external-events-list');
            new Draggable(containerEventsEl, {
                itemSelector: '.fc-event',
                eventData: function (eventEl) {
                    return {
                        title: eventEl.innerText.trim()
                    }
                }
            });

            var containerSubjectsEl = document.getElementById('external-subjects-list');
            new Draggable(containerSubjectsEl, {
                itemSelector: '.fc-subject',
                eventData: function (subjectEl) {
                    return {
                        title: subjectEl.innerText.trim()
                    }
                }
            });

            /* initialize the calendar
            -----------------------------------------------------------------*/

            var calendarEl = document.getElementById('calendar');
            var calendar = new Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                timeZone: "Indochina Time",
                editable: true,
                droppable: true,
                weekNumbers: true,
                weekNumbersWithinDays:true,
                navLinks: true, // can click day/week names to navigate views
                drop: function (arg) {
                    // is the "remove after drop" checkbox checked?
                    if (document.getElementById('drop-remove').checked) {
                        // if so, remove the element from the "Draggable Events" list
                        arg.draggedEl.parentNode.removeChild(arg.draggedEl);
                    }
                },

                events: [
                    //This is for Subject
                // {
                //   title: 'rrule event',
                //   rrule: {
                //     dtstart: '2020-02-09T13:00:00',
                //     until: '2020-02-01',
                //     freq: 'weekly'
                //   },
                //   duration: '02:00'
                // }                
                ],
                eventClick: function (arg) {
                    if (confirm('delete event?')) {
                        arg.event.remove()
                    }
                },
                eventReceive: function (info) {
                    alert(`${info.event.title}, 'new_start': ${info.event.start}`);
                },
                eventResize: function (info) {
                    alert(info.event.title + " end is now " + info.event.end.toISOString());
                },
                //Receive event dragable
                eventDrop: function (info) {
                    $.ajax({
                        url: "/",
                        type: "POST",
                        dataType: "application/json",
                        data: JSON.stringify({ 'id': info.event.id, 'url': info.event.url, 'title': info.event.title, 'new_start': info.event.start }),
                        timeout: 5000
                    }).done(function (msg) {
                        alert("Data Saved: " + msg);
                    });
                }
            });
            calendar.render();
        });

    </script>
</head>

<body>

    <div id="container">
        <div id='wrap'>

            <div id='external-events'>
                <h4>Events</h4>

                <div id='external-events-list'>
                    <div class='fc-event'>My Event 1</div>
                    {% EVENTS %}
                </div>

                <p>
                    <input type='checkbox' id='drop-remove' />
                    <label for='drop-remove'>remove after drop</label>
                </p>
            </div>
            <div id='calendar' onchange="showData()"></div>
            <div id='external-subjects'>
                <h4>Subjects</h4>

                <div id='external-subjects-list'>
                    <div class='fc-event fc-subject'>My Subject 1</div>
                    {% SUBJECTS %}
                </div>

                <p>
                    <input type='checkbox' id='drop-remove' />
                    <label for='drop-remove'>remove after drop</label>
                </p>
            </div>


            <div style='clear:both'></div>
        </div>
    </div>

</body>

</html>