@import "login-register.scss";

h2 {
  padding-top: 30px;
  font-family: "Bahiana", cursive;
  font-size: 100px;
  text-shadow: black 8px 9px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  color: #e4abfb;
}
.login {
  margin-top: 50px;
  input {
    width: 50%;
    height: auto;
    border: none;
    background: none;
    padding-top: 18px;
    outline: none;
    color: #fffdfd;
    // font-weight: bolder;
    font-size: 18px;
    z-index: 2;
  }
  .btn {
    margin-top: 10px;
    margin-right: 20px;
    width: 150px;
    background-color: #ff416c;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #bd0375;
      box-shadow: rgb(90, 84, 84) 0px 0px 10px;
    }
    &:active {
      border-style: outset;
    }
  }
  #cancelbtn {
    margin-right: 0px;
    margin-left: 20px;
    background-color: #9b9294;
  }
  .label-name {
    margin-left: -150px;
    font-size: 18px;
    position: absolute;
    margin-top: -50px;
    width: 50%;
    padding-top: 0px;
    text-align: left;
    opacity: 0.7;
  }
  hr {
    margin: 25px auto;
    margin-top: 0px;
    width: 50%;
    border: 1px solid #0077ff;
  }
  a {
    font-style: italic;
    color: #00b9ff;
  }
  .errorlog {
    position: absolute;
    font-size: 14px;
    opacity: 0.8;
    text-align: left;
    margin-left: 150px;
    margin-top: -25px;
    color: black;
    font-weight: bold;
  }
}
