@import "dashboard.scss";

#container {
  background-color: white;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

#wrap {
  margin: 0 auto;
}

#external-events, #external-subjects {
  float: left;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#external-events h4, #external-subjects h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event, #external-subjects .fc-subject {
  margin: 10px 0;
  cursor: pointer;
}

#external-events p, #external-subjects p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input, #external-subjects p input {
  margin: 0;
  vertical-align: middle;
}

#external-events-list, #external-subjects-list {
  height: 150px;
  overflow: scroll;
}

#calendar {
  float: right;
  max-width: 900px;
  margin: 0 auto;
  color: rgb(66, 59, 59);
}