* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  margin: 0;
}

body {
  background: url(../img/login_signup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  margin: 30px 0px;
  margin-left: 50px;
}

body main {
  background-color: #e1f4f3;
  position: absolute;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

body main .leftpanel {
  text-align: center;
  background-color: #333333;
  color: white;
  float: left;
  width: 200px;
  height: 600px;
  border-radius: 30px;
}

body main .leftpanel #accountlink {
  text-decoration: none;
  cursor: default;
}

body main .leftpanel #accountlink .account {
  background-color: #2c2525;
  height: 200px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
}

body main .leftpanel #accountlink .account img {
  margin: 30px 0px;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: 2px yellow solid;
}

body main .leftpanel #accountlink .account #accountname {
  color: white;
  margin-top: 0;
  font-size: 16px;
}

body main .leftpanel ul {
  text-align: left;
}

body main .leftpanel ul li {
  list-style: none;
}

body main .leftpanel ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body main .leftpanel ul li a:hover {
  background-color: yellow;
  color: #706c61;
}

#logo {
  margin-top: 50px;
  font-family: "Bahiana", cursive;
  font-size: 50px;
  text-shadow: black 8px 9px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  color: #706c61;
}

.active {
  background-color: yellow;
  color: #706c61;
}

#logoutbtn {
  display: block;
  background-color: white;
  border-radius: 50px;
  width: 30px;
  position: absolute;
  left: 160px;
  top: 10px;
  border: 1px solid yellow;
}

#logoutbtn ion-icon {
  left: 5px;
  font-size: 20px;
  color: white;
}

.rightpanel {
  margin-left: 200px;
  width: 1000px;
  height: 350px;
  text-align: center;
}

.account {
  width: 200px;
}

.content {
  display: block;
  width: 900px;
  height: 500px;
  overflow: scroll;
}

.subject-card {
  float: left;
  color: black;
  display: block;
  background-color: wheat;
  width: 200px;
  height: 300px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 30px;
}

.subject-target {
  margin-bottom: 50px;
}

.target-container {
  padding-top: 50px;
  width: 200px;
  height: 150px;
  background-color: white;
}

p {
  color: white;
  font-size: 16px;
}

a {
  display: inline-block;
}

.btn, .cancelbtn {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100px;
  background-color: #ff416c;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover, .cancelbtn:hover {
  background-color: #bd0375;
  -webkit-box-shadow: black 0px 0px 3px;
          box-shadow: black 0px 0px 3px;
}

.btn:active, .cancelbtn:active {
  border-style: outset;
}

.btn .cancelbtn, .cancelbtn .cancelbtn {
  background-color: #9b9294;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn .cancelbtn:hover, .cancelbtn .cancelbtn:hover {
  background-color: #665f60;
}

#cancelbtn,
#delbtn {
  margin-right: 0px;
  margin-left: 20px;
  background-color: #9b9294;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#cancelbtn:hover,
#delbtn:hover {
  background-color: #665f60;
}

#add-overlay, #modify-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#add-overlay form, #modify-overlay form {
  text-align: center;
  width: 400px;
  height: 600px;
  background-color: white;
  margin: 20px auto;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: auto;
}

#add-overlay form #formlogo, #modify-overlay form #formlogo {
  padding-top: 20px;
  font-family: "Bahiana", cursive;
  font-size: 50px;
  text-shadow: black 8px 9px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  color: #e4abfb;
  margin-bottom: 30px;
}

#add-overlay form .data, #modify-overlay form .data {
  text-align: left;
  margin-left: 110px;
}

#add-overlay form .data label, #modify-overlay form .data label {
  display: block;
  font-size: 16px;
  padding-top: 10px;
}

#add-overlay form .data input, #modify-overlay form .data input {
  font-size: 16px;
  padding: 5px auto;
}

#add-overlay form input[type="submit"], #modify-overlay form input[type="submit"] {
  margin-left: 0;
  margin-bottom: 50px;
}

.sort {
  display: block;
  margin-left: 30px;
  margin-bottom: -10px;
}

.sort .sortbtn {
  display: block;
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  width: 60px;
  padding: 5px;
  border-radius: 10px;
  border: #8c98b8 1px solid;
  color: white;
  background-color: #bdd1cf;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sort .sortbtn:hover {
  background-color: #8fa1a0;
  color: black;
}
/*# sourceMappingURL=subject.css.map */